// CONTENT
// ===================
// 1. Default
// ===================


// 1. Default
// -----------------
#content {
    padding: 0 20px;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto 0;
}
// -----------------
