// CONTENT
// ===================
// 1. Default
// ===================


// 1. Default
// -----------------
#content {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 250px;
    grid-column-gap: 20px;
    margin: 100px 0 0 275px;
    padding: 0 40px;
}
// -----------------
