<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JS initial functionality</title>
  </head>
  <body>
    <div id="app">
      
      ${require('../Partials/header.html')}
      
      <div id="content">
        
        <main>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima facere nisi libero dignissimos tenetur odit, provident voluptates nam sed, atque, fugit quisquam iste animi inventore distinctio aspernatur iusto voluptatem!</p>
        </main>

        <footer></footer>

      </div>

    </div>
  </body>
</html>
