extends ../Layout/header.pug

block content
  main 
    h1 Welcome to Framework
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sunt minima suscipit rem ipsam a quis numquam quo corporis esse fugiat odit amet in quidem, dolorum nisi consequatur illum pariatur.


