<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JS initial functionality</title>
  </head>
  <body>
    <div id="app">
      <header></header>
      
      <div id="content">
        
        <main>
          <div id="slider-gallery" class="slider-gallery">
                <img src="/assets/image-tes.jpg" alt="Some image">
                <img src="/assets/image-tes.jpg" alt="Some image">
                <img src="/assets/image-tes.jpg" alt="Some image">
                <img src="/assets/image-tes.jpg" alt="Some image">
          </div>
        </main>

        <footer></footer>

      </div>

    </div>
  </body>
</html>
